.dev {
  display: none;

  div.block {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @include rem(padding, 1.2);
  }

  li.block {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @include rem(padding-bottom, 0.6);
    @include rem(margin-bottom, 0.6);

    &:last-child {
      border-bottom: none;
    }
  }

  p.small,
  li.small {
    @include rem(font-size, 1.2);
  }

  p.large {
    @include rem(margin, 1.2, 0, 0.6);
  }
}