<section data-ng-show="currentStep">
  <h2 data-ng-show="title">{{ title }}</h2>
  <!-- <div data-ng-transclude></div> -->
  <div data-ng-transclude></div>
<!-- <section class="step wizard" data-ng-show="active" data-ng-transclude> -->
<!-- <section class="step wizard {{active}}" data-ng-transclude> -->
<!-- <section class="step wizard" ng-show="active" data-ng-transclude> -->
<!-- <section class="step wizard" ng-show="active" data-ng-transclude> -->
  <!-- <div class="step" data-ng-show="currentStep">
    <h2>{{title}}</h2>
    <div data-ng-transclude></div>
  </div> -->
<!-- </section> -->
</section>